/*---Edição dos estilos do elemento Dropdown.css---*/
.dropdown-menu .dropdown-item:first-child {
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px; 
}

.dropdown-menu .dropdown-item:last-child{
	border-bottom-left-radius: 0px; 
	border-bottom-right-radius: 0px; 
}

.dropdown-menu {
	border-radius: 0px;
}
.dropdown-item{
	background-color: white;
}

.dropdown-header {
	background-color: white;
}
/*---Torna o dropdown dinâmico, fazendo-o transitar entre botão de menu e o menu dropdown---*/
@media screen and (max-width: 991px){.dropdown.show .dropdown-menu .dropdown-item:hover, .dropdown.show .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:focus{
	background-color: #66615B;
	border-radius: 0;
}}

/*---Sobreescrevendo a classe container, e forçar o uso em telas maiores---*/
@media (min-width:1366px){.container{max-width:1298px}}@media (min-width:1920px){.container{max-width:1824px}}

/*---Estilo do botão de menu horizontal no topo---*/
.menuNavbar {
	display: none;
}
.menuNavbar.a {
	display: none;
	color: #fff;
}

@media screen and (max-width: 991px){.menuNavbar{display: block;}}

.menuLateral {
	background-color: white;
	display: block;
}

@media screen and (max-width: 991px){.menuLateral{display: none;}}

.btn {
	border-radius: 0px;
	
}

.botoes {
	padding: 0px;
	font-weight: normal;
	text-align: left;
	border-width: 2px;
	border-color: white;
}

.botoesBrancos {
	font-weight: normal;
	text-transform: none;
	text-align: left;
	background-color: white;
	color: black;
	border-color: white;
}
/*---Estiliza a barra lateral da esquerda---*/
.LeftBar{
	color: #fff;
	font-weight: 400;
}
.LeftBar:hover{
	color: #fff;
	font-weight: 400;
}
/*---Estiliza os links para ser compativel com cores de fundo---*/
.LinkPreto {
	font-weight: 600;
	color: #000;
}
.LinkPreto:hover {
	font-weight: 600;
	color: #000;
}
.LinkBranco {
	font-weight: 600;
	color: #fff;
}
.LinkBranco:hover {
	font-weight: 600;
	color: #fff;
}

/*---estiliza blocos de informação em geral---*/

.block {
	padding: 0pxrem 0pxrem 0pxrem 0pxrem;
	height: 100%;
	width: 300px;
	background-color: #fff;
}

.block h5{
	padding: 0px 8px 0px 10px;
	font-size: 18px;
	font-weight: 500;
	color: #444;
	text-transform: uppercase;
}

.block ul{
	padding: 10px 8px 0px 10px;
}

.block a{
	padding: 0px 8px 0px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #444;
	display: block;
}
.block a:hover {
	color: #111;
}

/*////////////////////////////////////////////////////////////*/

/*---serve para editar a cor de fundo das páginas em branco---*/

.edit {
	background-color: #eee;
	color: #000;
	font-weight: normal;
}

/*////////////////////////////////////////////////////////////*/

.divButtonLink {
	padding: 0.5rem 18px;
	width: 100%;
	height: 100%;
}
/*---Estiliza a cor dos links do site---*/
.hiperLink {
	color: #0060ff;
	font-weight: normal;
}

.colStyle {
	font-weight: normal;
	background-color: white;
}