.janelaTabela {
    margin-top: 20px;
    overflow: auto;
    width: 100%;
}

.tituloUmaColuna {
    font-weight: bold;
    width: 820px;
    height: 40px;
    padding: 10px;
    text-align:  left;
    background-color: #e9e9e9;
    border: black solid 1px;
    float: left
}

.nome {
    font-size: small;
    width: 320px; 
    height: 40px; 
    padding: 10px; 
    text-Align: left; 
    border: black solid 1px; 
    float: left;
}

.titulacao {
    font-size: small;
    width: 80px; 
    height: 40px; 
    padding: 10px; 
    text-Align: left; 
    border: black solid 1px; 
    float: left;
}

.regimedeTrabalho {
    font-size: small;
    width: 170px; 
    height: 40px; 
    padding: 10px; 
    text-Align: left; 
    border: black solid 1px; 
    float: left;
}

.email {
    font-size: small;
    width: 170px; 
    height: 40px; 
    padding: 10px; 
    text-Align: left; 
    border: black solid 1px; 
    float: left;
}

.lattes {
    font-size: small;
    width: 80px; 
    height: 40px; 
    padding: 10px; 
    text-Align: center; 
    border: black solid 1px; 
    float: left;
}